<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment/>
    <entry key="selectAllgifticon">
        SELECT * FROM gifticon

    </entry>
    <entry key="insertOrder">
        INSERT INTO `order` (date_time)
        VALUES (?)
    </entry>
    <entry key="insertOrderItem">
        INSERT INTO order_item (order_id, menu_id, item_quantity)
        VALUES (?, ?, ?)
    </entry>



</properties>